<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="row">
        <%= devise_error_messages! %>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
          <%= f.label :email, :for=> 'email'%><br />
          <%= f.email_field :email, :autofocus => true,:id=> 'email', :class => 'form-control', :placeholder=> 'Enter your email'%>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
          <%= f.label :password, :for=> 'password'%><br />
          <%= f.password_field :password,:id=> 'password', :class => 'form-control', :placeholder=> 'Enter your password'%>
      </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <%= f.label :password_confirmation,:for=> 'passowrd_confirmation' %><br />
            <%= f.password_field :password_confirmation,:id=> 'passowrd_confirmation', :class => 'form-control', :placeholder=> 'Again !'%>
        </div>
    </div>

    <div class="row"><br />
        <div class="form-group col-md-4"><%= f.submit 'Sign up', :class=> 'btn btn-primary'%></div>
    </div>
<% end %>

<%= render 'devise/shared/links' %>
