<%= form_for [@course, @homework] do |f| %>
    <p>Title: <%= f.text_field :title %></p>
    <p>Description : <%= f.text_area :description %></p>
    <p>Deadline: <%= f.datetime_select :due_date %></p>
    <p>Instructions: <%= f.file_field :file %></p>
    <p><%= f.submit %></p>
<% end %>
