<%= stylesheet_link_tag params[:controller] %>
<%# Snippet from: http://bootsnipp.com/snippets/featured/carousel-product-cart-slider %>
<div class="col-sm-4">
    <div class="col-item">
        <div class="photo">


            <% unless @homework.file.path.nil?%>
                <div class="form-group">
                    <%=link_to(image_tag('/system/icons/'+@extension+'.png', size: '128x128', class: 'img-responsive', alt: 'File Image'), @homework.file.url) %>
                </div>
            <%end%>
        </div>
        <div class="info">
            <div class="row">
                <div class="price col-xs-6">
                    <h4><%= @homework.title %></h4>
                </div>
                <div class="rating col-xs-6">
                    <h5><%= number_to_human_size(@homework.file.size) -%> </h5>
                    <h5><%= @extension -%> file</h5>
                </div>
            </div>
            <div class="separator clear-left">
                <p class="btn-add">
                    <i class="glyphicon glyphicon-th-list"></i><%= link_to 'Solutions', course_homework_solutions_url(@course, @homework) %>
                </p>
                <% if @homework.file.path.nil? %>
                <p class="btn-details" style="cursor: not-allowed; color: #b8b8b8; ">
                    <i class="glyphicon glyphicon glyphicon-download-alt"></i> Download
                </p>
                <% else %>
                <p class="btn-details">
                    <i class="glyphicon glyphicon glyphicon-download-alt"></i><%= link_to 'Download', @homework.file.url %>
                </p>
                <% end %>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <%= @homework.description.html_safe %>
</div>