<h1>Homework</h1>
<% if current_user.isProfessor? %>
<p>
    <%= link_to new_course_homework_path, class: "btn btn-primary" do %>
        <i class="glyphicon glyphicon-plus"></i> New homework
    <% end %>
</p>
<% end %>
<table class="searchable_datatable">
    <thead>
    <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Deadline</th>
        <% if current_user.isProfessor? %>
        <th>&nbsp;</th>
        <% end %>
    </tr>
    </thead>
    <tbody>
    <% @homework.each do |hw| %>
        <tr>
            <td><%= link_to hw.title, [@course, hw] %></td>
            <td><%= link_to hw.course.name, hw.course %></td>
            <td><%= hw.due_date %></td>
            <% if current_user.isProfessor? %>
            <td>
                <%= link_to content_tag('span', '', class: 'glyphicon glyphicon-edit'), edit_course_homework_url(@course, hw), class: 'btn btn-info' %>
                <%= link_to content_tag('span', '', class: 'glyphicon glyphicon-trash'), [@course, hw], class: 'btn btn-danger', confirm: "Are-you sure you want to delete '#{hw.title}' ?", method: :delete %>
            </td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
