<h1>Course#index</h1>
<p>Find me in app/views/course/index.html.erb</p>

    <table class="searchable_datatable">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Professor</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <select onchange="location = this.options[this.selectedIndex].value;">
            <% for y in @min_year..Time.now.year %>
                <option value="?year=<%= y %>" <%= ' selected' if @curr_year.to_i == y.to_i %>><%= y %> / <%= y+1 %></option>
            <% end %>
        </select>


        <% @courses.each do |course| %>
        <tr>
            <td><%= course.id %></td>
            <td><%= course.name %></td>
            <td><%= course.professor.email %></td>
            <td>
                <%= link_to edit_course_path(course), :class => 'btn btn-primary btn-mini' do %>
                    <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= link_to course_path(course), :method => :delete, :class => 'btn btn-danger btn-mini' do %>
                    <i class="glyphicon glyphicon-remove"></i>
                <% end %>

            <% end %>
        </tbody>
    </table>
