<h1><%= @course.name %> students</h1>
<div class="form-group">
<%= link_to new_user_to_course_course_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> Add student to this course
<% end %>
</div>
<table class="searchable_datatable">
    <thead>
    <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= link_to user.email, 'mailto:' + user.email %></td>
            <td>
                <%= link_to destroy_user_from_course_course_path(@course,:user => user),  :method => :delete, :class => 'btn btn-danger btn-sm', confirm: 'Are you sure you want to remove the user '+user.name + ' from this course' do %>
                    <span class="glyphicon glyphicon-minus"></span>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
