<h1>Solutions</h1>

<% if @user.is_student? && @homework.due_date > Time.now %>
    <div class="panel-group container" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading"
                 data-toggle="collapse"
                 data-target="#new">
                <h4 class="panel-title">
                    New
                </h4>
            </div>
            <div id="new" class="panel-collapse collapse <%= 'in' if @solutions.size == 0 %>">
                <div class="panel-body">
                    <%= render 'new' %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= 'The student hasn\'t yet submitted any solution' if @solutions.size == 0 %>

<div class="panel-group container" id="accordion">
<% @solutions.reverse.each_with_index do |sol,index| %>
    <div class="panel panel-default">
        <div class="panel-heading"
             data-toggle="collapse"
             data-target="#<%=index%>">
            <h4 class="panel-title">
                Version : <%= sol.version %>
            </h4>
        </div>
        <div id="<%=index%>" class="panel-collapse collapse <%= 'in' if index==0%>">
            <div class="panel-body">
                <div class="col-md-3">
                    <dl>
                        <dt>Student</dt>
                        <dd><%= sol.user.name_not_null %></dd>
                        <dt>Professor</dt>
                        <dd><%= @course.professor.name_not_null %></dd>
                        <dt>Last update</dt>
                        <dd><%= sol.updated_at %></dd>
                    </dl>
                    <div class="text-center">
                        <% unless sol.file.path.nil? %>
                            <div class="form-group">
                                <%=link_to(image_tag('/system/icons/'+sol.mime+'.png', size: '128x128', alt: 'File Image'), sol.file.url) %>
                            </div>
                            <div class="form-group">
                                <i class="glyphicon glyphicon glyphicon-download-alt"></i>
                                <%= link_to 'Download', sol.file.url %>
                            </div>
                        <%end%>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Student comment</h3>
                    <%= sol.student_comment %>
                </div>
                <div class="col-md-5">
                    <h3>Professor comment</h3>
                    <!--if professor => can change else like upper-->
                    <% if @user.is_student? %>
                        <% if sol.professor_comment <=> '' %>
                            <%= sol.professor_comment %>
                        <% else %>
                            Professor's comment not yet available
                        <% end %>
                    <% else %>
                        <%= form_for [@course,@homework,sol] do |f| %>
                            <div class="form-group">
                                <%= f.text_area :professor_comment, :class => 'form-control'%>
                            </div>
                            <div class="form-group col">
                                <% if sol.professor_comment <=> '' %>
                                    <%= f.submit 'Edit', class: 'btn btn-primary' %>
                                <% else %>
                                    <%= f.submit 'Comment', :class => 'btn btn-primary'%>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>
