<h1>Solution#new</h1>

<!--check if it's a student ?-->

<%= form_for @solution, url: {action: "create"} do |f| %>

    Student comment : <%= f.text_area :student_comment %>

    Mime : <%= f.text_field :mime %>

    File path : <%= f.file_field :file_path %>
    <%= f.submit "Create"%>

<% end %>
